@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 1;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 1;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}




body {
    overflow-x: hidden;

    color: rgb(255, 255, 255);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #0A0F20 0%, #11172E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: inherit;


}



main {
    background-color: #191d3e;
    border-radius: 25px;
    flex-grow: 1;
    padding: 20px;
}

.asside-img {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(30%);

}

.header a {
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
 
}

.logo {
    width: 110px;
    margin-right: 10px;
    height: 2.4rem;
}

.logo-slogan {

    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 12px;
    line-height: 12px;
    background: linear-gradient(180deg, #0ABE9E 0%, #186ED3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-img {
    height: 1rem;
}

li:not(:last-child) {
    margin-right: 10px;
}

.coin-ico {

    font-weight: 600;
    font-size: 12px;
    line-height: 1.8rem;
    color: #69dd89;

}

.coin-ico:before {
    content: "© ";
}

.button-deposit {
    width: auto;
    height: 100%;
    padding: 0 .9rem;
    border: none;
    border-radius: 10px;
    background-color: #69dd89;
    font-size: 12px;
    font-weight: 600;
   
}

.coins {
    padding: 6px;

    
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 2.4rem;

    background: linear-gradient(258.29deg, rgba(80, 255, 203, .26) .41%, rgba(98, 198, 212, .13) 65.4%);
    border: none;
    border-radius: 10px;
    color: #b9fff2;
    line-height: 1;
}

.user-ico {
    width: 2.4rem;
    height: 2.4rem;

    position: relative;
    z-index: 2;
}

.level {
    position: absolute;
    font-size: 8px;
    position: absolute;
    right: -.3rem;
    bottom: -.3rem;
    z-index: 3;
    padding: 3px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #79cbd5;
    background-color: #2a4064;
}

.user-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.notification{
    background-color: #384770;
    border-color: #384770;
    
    
    width: 2.4rem;
    height: 2.4rem;
    padding: 0;
    border-radius: 10px;

}
.player-columns{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    gap: .4rem .9rem;
    overflow: hidden;
    margin-top: 1.8rem;
}
.wheel-game-color{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    border: .1rem solid rgba(127, 176, 213, .1);
    border-radius: 1.6rem;
    padding: 1rem;
   
}

.color-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .6rem .6rem 1.3rem;
    cursor: pointer;
}
.color-header__left{

}
.color-header__title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    -webkit-transition: opacity .2s ease-out 0s;
    -moz-transition: opacity .2s ease-out 0s;
    transition: opacity .2s ease-out 0s;
}
.color-header__bank {
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.4rem;
}
.currency_CSF, .currency_USD {
    display: inline-flex;
    align-items: center;
    gap: .2rem;
    font-variant: tabular-nums;
}
.currency_CSF:before, .currency_USD:before {
    content: "© ";
    position: relative;
    font-family: icomoon !important;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
    .color-header__users {
        display: flex;
        align-items: center;
        gap: .4rem;
        color: #cddbff;
        opacity: .6;
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 700;
    }
   .bets{    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 5.2rem;
    background: rgba(36, 44, 84, .5);
    border-radius: 1.2rem;
    border: 1px solid transparent;
padding: 6px;
margin-bottom: 10px;}
    .bets-img{
        height: 2.4rem;
        width: 2.4rem;
        background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    }
    .user-bets{
        font-weight: 700;
        font-size: 0.8rem;
    }
.user-name{
    font-weight: 400;
    font-size: 0.6rem;
}
.user-bets:before {
    content: "© ";
}
.color-header__title-first{
    color: #7896ff;
}
.color-header__title-second{
    color:  #69dd89;
}
.color-header__title-third{
    color:  #8b81ff;
}

.color-header__title-firth{
    color:   #f3d28f;
}
.menu-bar{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.ew{
    width: 100%;
    height: 600px;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}











